<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Trivia API </title>
  </head>

  <body>
    <h1> Trivia API - REST Implementation </h1>
    <br />

    <h3> https://triviaapi.onrender.com/randomQuestion/:questionLevel</h3>
    <table>
      <tr>
        <th>Route</th>
        <th>Action</th>
      </tr>
      <tr>
        <td> GET</td>
        <td> Gets random question of specified level (Blue, Green, Yellow, Red, Purple) </td>
      </tr>
    </table>
    <br />


    <h3> https://triviaapi.onrender.com/questions</h3>
    <table>
      <tr>
        <th>Route</th>
        <th>Action</th>
      </tr>
      <tr>
        <td> GET </td>
        <td> Retrieves all questions in database </td>
      </tr>
      <tr>
        <td> POST </td>
        <td> Creates a new question to add to database </td>
      </tr>
    </table>
    <br />


    <h3> https://triviaapi.onrender.com/questions/:questionId</h3>
    <table>
      <tr>
        <th>Route</th>
        <th>Action</th>
      </tr>
      <tr>
        <td> GET </td>
        <td> Retrieves question with specified object id </td>
      </tr>
      <tr>
        <td> PATCH </td>
        <td>Updates question with specified object id</td>
      </tr>
      <tr>
        <td> DELETE </td>
        <td>Deletes question with specified object id</td>
      </tr>
    </table>


  </body>
</html>
